# SECRET_KEY="yc-)2#pgxh2@psxqt&*cd+*p#2l7i$&dw&+gv0s!^u3hig9vp-"

# # 0 False, 1 True
# DEBUG='1'

# #Comma Separated values

# ALLOWED_HOSTS="127.0.0.1, localhost"

# DB_ENGINE="django.db.backends.postgresql"
# POSTGRES_DB="blog_base_dados"
# POSTGRES_USER="CHANGE-ME"
# POSTGRES_PASSWORD="CHANGE-ME"
# POSTGRES_HOST="localhost"
# POSTGRES_PORT="5432"